<style>
  body{
    background-color: lightgoldenrodyellow;
  }
  h1 {
    font-family: 'Courier New', Courier, monospace;
    color: lightseagreen;
    text-align: center;
  }
  h3 {
    font-family: 'Courier New', Courier, monospace;
    color: lightseagreen;
    text-align: center;
    margin-right: 6rem;
    margin-top: 1rem;
    margin-bottom: 3rem
  }
  form {
    text-align: center;
  }
  #input {
    background-color: rgb(67, 226, 218);
    border-radius: 25%;
    text-align: center;

  }
  #movebutton {
    background-color: rgb(67, 226, 218);
    border-radius: 25%;
    margin-left: 2rem;
  }
  li {
    margin-top: 1rem;
    margin-left: 8rem;
    text-align: center;
    border-radius: 25%;
    list-style: square;
    margin-bottom: 10px;
    padding: 2px;
    width: 33%;
    font-family: 'Courier New', Courier, monospace;
  }
</style>
<h1>Food App</h1>
<div class="row">

  <div class="col-sm">
    <h3>
      Saved Foods
    </h3>
    <ul>
      {{#each food}}
      <li>
        <p>
          {{this.name}}
          <button id="movebutton" data-nameid="{{this.id}}" class="delname">Eat</button>
        </p>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="col-sm" id="finishedfood" data-nameid="{{this.id}}" style="display:show">
    <h3>
      Finished Foods
    </h3>
    <ul>
      {{#each finished}}
      <li>
        <p>
          {{this.name}}
        </p>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

{{!-- <h4>Save a food!</h4> --}}
<form action="/" method="POST" id="" class="button-size">
  <input id="input" type="input" name="name" placeholder="Enter food here">
  <button id="input" type="submit">Save</button>
</form>

<script type="text/javascript">

  $(".delname").on("click", function (event) {
    // ID from the button.
    var id = $(this).data("nameid");

    // Send the DELETE request.
    $.ajax("/api/food/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted id " + id);
        // Reload the page to get the updated list
        location.reload();
      }
    );

    // Send the GET request.
    $.ajax("/api/" + id, {
      method: "GET",
    }).then(
      function () {
        console.log("created new plan");
        // Reload the page to get the updated list
        location.reload("/");
      }
    );
  });

  

</script>

{{!-- $("#savefood").on("submit", function (event) {
  
    event.preventDefault();
    var newFood = {
      name: $("#savefood [name=name]").val().trim()
    };
    // Send the POST request.
    $.ajax("/", {
      type: "POST",
      data: newFood
    }).then(
      function () {
        console.log("created new plan");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });  --}}